<p style="color: green"><%= notice %></p>
<%= link_to users_path, class: "btn btn-secondary btn-sm mb-2" do %>
  <%= bootstrap_icon "arrow-left-short", class: "mb-1" %> Zurück zur Übersicht
<% end -%>
<%= render @user %>

