<h1>Bestellung</h1>
<h5> für den <%= Date.today.strftime("%d.%m.%Y") %></h5>

<%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Show this order", @order %> |
  <%= link_to "Back to orders", orders_path %>
</div>
